<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<div class="form-group">
	<label for="course-name">Course Name</label>
	<input id="course-name" type="text" class="form-control" placeholder="Course Name">
	
</div>
<span class="btn btn-success" id="add-course-button">Add Course</span>