<div class="row" id="badges-info">
	<div class="page-header">
		<h2 id="profile-header-name">Lorem Ipsum</h2>
			<h4>Transcript</h4>
	</div>
	<h3>Tracks</h3>
	<div id="tracks-div"></div>
	<h3>Courses</h3>
	<div id="courses-div"></div>
</div>

